h1 {
  color: rgb(107, 6, 6);
  font-size: 50px;
  font-style: italic;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
}
.head {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 1%);
}
* {
  background-color: seashell;
}
